<header class="bg-white-500 text-blue py-4">
  <div class="container mx-auto flex justify-between items-center">
    <div class="flex items-center">
      <img src="https://c8.alamy.com/comp/2FRY21E/lms-learning-management-system-editable-stroke-outline-icon-isolated-on-white-background-flat-vector-illustration-pixel-perfect-64-x-64-2FRY21E.jpg"
        alt="Logo" class="h-10 w-10 inline-block rounded mr-2">
      <h1 class="text-3xl inline-block font-semibold">Learning Management System</h1>
    </div>
    <nav>
      <a href="/signout"
        class="inline-block px-4 py-2 mt-4 bg-white text-black-500 rounded transition duration-300 hover:bg-gray-600">
        Sign Out
      </a>
      <a href="/password"
        class="bg-white inline-block text-black-500 rounded-md px-4 py-2 hover:bg-gray-600 transition duration-300">
        Change Password
      </a>
    </nav>
  </div>
</header>

